.flash-view.react-simple-widget {
    --flash-title-color: #e3e3e3;

    max-width: 300px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;

    .card-body {
        padding: 25px;
        color: #545454;

        .flash-icon {
            width: 50px;
            margin-bottom: 15px;
        }

        .flash-title {
            margin-bottom: 20px;
            font-weight: bold;
            color: var(--flash-title-color);
        }

        .flash-message {
            margin-bottom: 15px;
            word-break: break-word;
        }

        .flash-button {
            width: 100%;
            font-size: 1rem;
            border-radius: 8px;
            background-color: var(--flash-title-color);
            transition: box-shadow 0.5s;
            overflow: hidden;

            img {
                width: 30px;
            }
        }

        .flash-button:hover {
            box-shadow: none;
        }
    }
}

.flash-view.react-simple-widget.flash-state-error {
    --flash-title-color: var(--rsw-flash-view-error-theme-color);

    .card-body .flash-button {
        color: white;
    }
}

.flash-view.react-simple-widget.flash-state-warning {
    --flash-title-color: var(--rsw-flash-view-warning-theme-color);

    .card-body .flash-button {
        color: #333333;
    }
}

.flash-view.react-simple-widget.flash-state-info {
    --flash-title-color: var(--rsw-flash-view-info-theme-color);

    .card-body .flash-button {
        color: #333333;
    }
}

.flash-view.react-simple-widget.flash-state-success {
    --flash-title-color: var(--rsw-flash-view-success-theme-color);

    .card-body .flash-button {
        color: white;
    }
}
