.react-simple-widget.file-picker-dialog {
    .card-body {
        padding: 20px 30px 30px;
    }

    header {
        p {
            font-weight: 400;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
    }

    .drop-area {
        border: 2px dashed #aeaeae;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 40px 70px;

        p {
            margin: 0;
            color: #888;
            font-size: 90%;
        }

        p.or-separator {
            position: relative;
            font-size: 80%;
        }

        p.or-separator::before,
        p.or-separator::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 2px;
            width: calc(50% - 15px);
            background-color: #e3e3e3;
        }

        p.or-separator::after {
            left: unset;
            right: 0;
        }
    }

    .drop-area:hover {
        cursor: pointer;
        border-style: solid;
    }

    .drop-area:focus,
    .drop-area:active {
        outline: none;
        box-shadow: none;
        border-style: solid;
        border-color: var(--rsw-primary-color);
    }

    .meta,
    .error {
        color: #888;
        padding: 8px 30px;
        margin: 0 -30px 20px;
        background-color: #efefef;
        font-style: italic;
        text-align: center;
    }

    .error {
        font-size: 80%;
        color: var(--rsw-error-color);
        font-weight: bold;
    }

    button.btn-primary {
        margin-bottom: 0.5rem;

        @media screen and(min-width: 576px) {
            margin-bottom: 0;
        }
    }
}
