.react-simple-widget.list-view-desktop-header {
    display: flex;
    box-shadow: 2px 2px 15px #00000011;

    .react-simple-widget.list-view-desktop-header-item {
        flex: 1 1;
        font-size: 85%;
        padding: 10px 4px;
        font-style: italic;
    }

    .react-simple-widget.list-view-desktop-header-item:first-child {
        padding-left: 8px;
    }

    .react-simple-widget.list-view-desktop-header-item:last-child {
        padding-right: 8px;
    }

    .react-simple-widget.list-view-desktop-header-item.sort-enabled {
        display: flex;
        align-items: center;

        span {
            flex: 1 1;
        }

        img {
            width: 0.9rem;
            height: 0.9rem;
            margin: 0 8px;
            transition: margin-left var(--rsw-transition-duration);
        }
    }

    .react-simple-widget.list-view-desktop-header-item.sort-enabled:hover {
        cursor: pointer;
    }
}

.react-simple-widget.list-view-desktop-header.overflowing {
    padding-right: 15px;

    @-moz-document url-prefix() {
        padding-right: 8px;
    }
}

.react-simple-widget.list-view-desktop-header.options-enabled {
    padding-right: 28px;
}

.react-simple-widget.list-view-desktop-header.options-enabled.overflowing {
    padding-right: 40px;

    @-moz-document url-prefix() {
        padding-right: 35px;
    }
}
