.react-simple-widget.list-view-desktop-item {
    display: flex;
    border: 1px solid #e3e3e3;

    > * {
        flex: 1 1;
        padding: 8px 4px;
        word-break: break-word;
    }

    > *:first-child {
        padding-left: 8px;
    }

    > *:last-child {
        padding-right: 8px;
    }

    > .item-options {
        position: relative;
        padding-left: 8px;
        flex: 0;

        img {
            width: 14px;
            vertical-align: middle;
        }
    }

    > .item-options::after {
        content: "Options";
        position: absolute;
        top: 40%;
        right: 0;
        width: max-content;
        font-size: 75%;
        color: #ffffff;
        padding: 2px 6px;
        background-color: #444444;
        transition: opacity var(--rsw-transition-duration);
        pointer-events: none;
        opacity: 0;
    }

    > .item-options:hover {
        cursor: pointer;
    }

    > .item-options:hover::after {
        opacity: 1;
    }

    > .item-options.loader {
        .spinner-border {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-color: var(--rsw-primary-theme-color);
            border-right-color: transparent;
            margin: 0 !important;
            padding: 0.2374rem;
        }
    }

    > .item-options.loader:hover {
        cursor: unset;
    }

    > .item-options.loader::after {
        content: "Busy";
    }

    > .item-options.none img {
        opacity: 0.3;
    }

    > .item-options.none::after {
        content: "No options for item";
    }
}

.react-simple-widget.list-view-desktop-item:nth-of-type(2n + 1) {
    background-color: #00000009;
}

.react-simple-widget.list-view-desktop-item:last-child {
    border: none;
}

.react-simple-widget.list-view-desktop-item.list-view-desktop-item-clickable:hover {
    background-color: #00000009;
    cursor: pointer;
}
