.react-simple-widget.list-view {
    display: flex;
    max-height: var(--rsw-list-view-max-height);
    border: 1px solid #e3e3e3;
    flex-direction: column;
    overflow: hidden;

    section.items {
        flex: 1 1;
        overflow: auto;
    }

    .busy-indicator {
        position: relative;
        height: 2px;
    }

    .busy-indicator.busy::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        animation: list-view-busy-animation 5s cubic-bezier(0.58, 0.03, 0.19, 0.97) forwards;
        background-color: var(--rsw-primary-theme-color);
        content: "";
        z-index: 2;
    }

    @keyframes list-view-busy-animation {
        from {
            right: 100%;
        }
        to {
            right: 1%;
        }
    }
}
