.react-simple-widget.list-view {
    display: flex;
    max-height: var(--rsw-list-view-max-height);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    flex-direction: column;
    overflow: hidden;

    header.desktop-header {
        display: flex;
        box-shadow: 2px 2px 15px #00000011;

        .react-simple-widget.list-view-header-item {
            flex: 1 1;
            font-size: 85%;
            padding: 18px 4px;
            font-style: italic;

            img {
                width: 0.9rem;
                height: 0.9rem;
                margin: 0 8px;
                transition: margin-left var(--rsw-transition-duration);
            }
        }

        .react-simple-widget.list-view-header-item:first-child {
            padding-left: 8px;
        }

        .react-simple-widget.list-view-header-item:last-child {
            padding-right: 8px;
        }

        .react-simple-widget.list-view-header-item.list-view-header-item-sort-enabled {
            display: flex;
            align-items: center;

            span {
                flex: 1 1;
            }

            img {
                margin-left: 12px;
            }
        }

        .react-simple-widget.list-view-header-item.list-view-header-item-sort-enabled:hover {
            cursor: pointer;

            img {
                margin-left: 12px;
            }
        }
    }

    header.desktop-header.items-overflow {
        .react-simple-widget.list-view-header-item:last-child {
            padding-right: 23px;

            @-moz-document url-prefix() {
                padding-right: 15px;
            }
        }
    }

    header.desktop-header.items-options {
        .react-simple-widget.list-view-header-item:last-child {
            padding-right: 34px;
        }
    }

    header.desktop-header.items-overflow.items-options {
        .react-simple-widget.list-view-header-item:last-child {
            padding-right: 45px;
        }
    }

    section.desktop-items {
        flex: 1 1;
        overflow: auto;

        .item {
            display: flex;
            border: 1px solid #e3e3e3;

            span {
                padding: 8px 4px;
                flex: 1 1;
            }

            span:first-child {
                padding-left: 8px;
            }

            span:last-child {
                padding-right: 8px;
            }

            span.item-options {
                position: relative;
                flex: 0;
                padding-left: 8px;

                img {
                    width: 14px;
                    vertical-align: middle;
                }
            }

            span.item-options::after {
                content: "Options";
                position: absolute;
                top: 40%;
                right: 0;
                font-size: 75%;
                color: #ffffff;
                padding: 2px 6px;
                background-color: #444444;
                transition: opacity var(--rsw-transition-duration);
                pointer-events: none;
                opacity: 0;
            }

            span.item-options:hover {
                cursor: pointer;
            }

            span.item-options:hover::after {
                opacity: 1;
            }
        }

        .item:nth-of-type(2n + 1) {
            background-color: #00000009;
        }

        .item:last-child {
            border: none;
        }
    }

    section.desktop-items.items-loading {
        position: relative;
        min-height: 4rem;
        pointer-events: none;

        .item {
            opacity: 0.5;
        }
    }

    section.desktop-items.items-loading::before,
    section.desktop-items.items-loading::after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        text-align: center;
        animation: list-view-loading-animation 5s cubic-bezier(0.58, 0.03, 0.19, 0.97) forwards;
        background-color: var(--rsw-primary-theme-color);
        content: "";
        z-index: 2;
    }

    section.desktop-items.items-loading::before {
        bottom: unset;
        top: 0;
    }

    section.footer {
        padding: 15px 8px;
        border-top: 1px solid #e3e3e3;
        opacity: 0.85;

        .col-12:first-child {
            text-align: center;
            margin-bottom: 15px;

            @media screen and (min-width: 768px) {
                text-align: left;
            }
        }

        .col-12:last-child {
            text-align: center;
            @media screen and (min-width: 768px) {
                text-align: right;
            }
        }

        p {
            margin: 0;
        }

        button:focus,
        button:hover,
        button:active {
            box-shadow: none;
        }

        p,
        button {
            font-size: 85%;
            font-style: italic;
        }
    }

    @keyframes list-view-loading-animation {
        from {
            right: 100%;
        }
        to {
            right: 1%;
        }
    }
}

.react-simple-widget.list-view-item-options-dialog {
    border-radius: 6px;
    overflow: hidden;

    .card-body {
        margin: 0 -1.25rem;
        padding: 1rem 1.25rem 0;

        p {
            font-size: 75%;
            font-style: italic;
            opacity: 0.65;
        }

        .list-group {
            .list-group-item:first-child {
                border-width: 1px 0;
            }

            .list-group-item:last-child {
                border-width: 0 0 1px 0;
            }
        }

        button.btn {
            padding: 15px 0;
        }
    }
}
