.react-simple-widget.list-view-mobile-header {
    display: flex;
    padding: 12px 8px;
    align-items: center;
    justify-content: space-between;

    span, select {
        font-size: 85%;
        font-style: italic;
    }

    span {
        margin-right: 15px;
    }

    select {
        width: auto;
        padding: 0;
        border: none;
        border-radius: 0;

        option {
            text-align: right;
        }
    }

    select:focus,
    select:active {
        border-bottom: 2px solid var(--rsw-primary-theme-color);
        box-shadow: none;
    }
}
