.react-simple-widget.list-view-mobile-item {
    display: grid;
    padding: 12px;
    border-bottom: 1px solid #e3e3e3;
    grid-template-columns: 30% 70%;
    grid-gap: 4px 8px;

    .prop-label {
        font-size: 85%;
        font-style: italic;
    }

    span.item-options {
        text-align: right;
        padding-right: 15px;

        img {
            width: 14px;
            vertical-align: middle;
        }
    }

    span.item-options:hover {
        cursor: pointer;
    }

    span.item-options.loader {
        .spinner-border {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-color: var(--rsw-primary-theme-color);
            border-right-color: transparent;
            margin: 0 !important;
            padding: 0.23rem;
        }
    }

    span.item-options.loader:hover {
        cursor: unset;
    }
}

.react-simple-widget.list-view-mobile-item:last-child {
    border-bottom: none;
}
