.react-simple-widget.list-view-item-options-dialog {
    border-radius: 6px;
    overflow: hidden;

    .card-body {
        margin: 0 -1.25rem;
        padding: 1rem 1.25rem 0;

        p {
            font-style: italic;
            opacity: 0.75;
        }

        .list-group {
            .list-group-item {
                border-top: 1px solid #e3e3e3;
                border-bottom: none;
            }

            .list-group-item:last-child {
                border-top: 1px solid #e3e3e3;
                border-bottom: 1px solid #e3e3e3;
            }
        }

        button.btn {
            padding: 15px 0;
        }
    }
}
