@import "../field-decoration";

.react-simple-widget.text-field .field-decoration > .field > .widget {
    > input,
    > input:hover,
    > input:focus,
    > input:active {
        @include resetWidgetChild;
    }

    > input::placeholder {
        font-size: 80%;
    }

    .ql-toolbar {
        border: none;
        padding: 0;
    }

    .ql-container {
        border: none;
        font-size: unset;
    }

    .ql-editor {
        padding: 8px;
    }
}
