.react-simple-widget.password-field {
    .toggle-btn {
        width: 35px;
        border: none;
        background-color: transparent;
    }

    .toggle-btn:focus,
    .toggle-btn:hover {
        outline: none;
        border: none;
        box-shadow: none;
    }
}
