.tag-input {
  display: inline-flex;
  flex-wrap: wrap;

  &:hover {
    cursor: text;
  }

  .option {
    padding: 2px 6px;
    margin: 0 2px 2px 0;
    background-color: #f3f3f3;

    button {
      padding: 0;
      background: none;
      outline: none;
      border: none;
    }
  }

  .option:last-child {
    margin-right: 6px;
  }

  input,
  input:focus,
  input:hover {
    border: none;
    outline: none;
    box-shadow: none;
  }

  input {
    flex-grow: 1;
  }
}
