body {
	--rsw-label-color: #777777;
	--rsw-error-color: #ff5555;
	--rsw-primary-theme-color: #209d58;
	--rsw-secondary-theme-color: #b3b3b3;
	--rsw-transition-duration: 0.3s;

	--rsw-list-view-max-height: 550px;
	--rsw-date-picker-header-bg-color: #209D5811;
	--rsw-field-decoration-label-bg-color: white;
	--rsw-select-field-indicator-size: 1.5rem;
	--rsw-dialog-view-vertical-margin: 1.2rem;
	--rsw-flash-view-default-theme-color: #e3e3e3;
	--rsw-flash-view-error-theme-color: #ff5555;
	--rsw-flash-view-warning-theme-color: #ffdd55;
	--rsw-flash-view-info-theme-color: #55ddff;
	--rsw-flash-view-success-theme-color: #7fff2a;
}
