.react-simple-widget.field-decoration {
    > .field {
        > label {
            font-size: 87.5%;
            color: var(--rsw-label-color);
            margin-bottom: 2px;
        }

        > .widgets {
            display: flex;

            > .widget {
                flex: 1 1;
                overflow: hidden;
            }
        }
    }

    > .error {
        font-size: 80%;
        color: var(--rsw-error-color);
        margin: 3px 0 0 0;
    }
}

/* Flat decoration */
.react-simple-widget.field-decoration.flat-decoration {
    > .field > .widgets > .widget {
        padding: 4px 8px;
        border-radius: 2px;
        border: 1px solid var(--rsw-secondary-theme-color);
        transition: border-color var(--rsw-transition-duration);
    }
}

.react-simple-widget.field-decoration.flat-decoration.field-decoration-has-focus {
    > .field > .widgets > .widget {
        border-width: 2px;
        border-color: var(--rsw-primary-theme-color);
    }
}

/* Underline decoration */
.react-simple-widget.field-decoration.underline-decoration {
    > .field {
        position: relative;

        > label {
            margin: 0;
        }

        > .widgets > .widget {
            border-bottom: 1px solid var(--rsw-secondary-theme-color);
            padding: 0 0 4px 0;
        }
    }

    > .field::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        right: 100%;
        bottom: 0;
        background-color: var(--rsw-primary-theme-color);
        transition-timing-function: ease-in;
        transition: right var(--rsw-transition-duration);
    }
}

.react-simple-widget.field-decoration.underline-decoration.field-decoration-has-focus {
    > .field::after {
        right: 0;
    }
}

/* Floating label decoration */
.react-simple-widget.field-decoration.floating-label-decoration {
    > .field {
        position: relative;
        border-radius: 2px;
        padding: 0.7rem 4px 0.4rem;
        border: 1px solid var(--rsw-secondary-theme-color);
        transition: all var(--rsw-transition-duration);

        > label {
            position: absolute;
            top: calc(50% - 10px);
            padding: 0 4px;
            transition: top var(--rsw-transition-duration);
            pointer-events: none;
        }

        > .widgets > .widget {
            padding: 0 4px;
        }
    }

    > .error {
        padding: 0 8px;
    }
}

.react-simple-widget.field-decoration.floating-label-decoration.field-decoration-has-focus {
    > .field {
        border-width: 2px;
        border-color: var(--rsw-primary-theme-color);
    }
}

.react-simple-widget.field-decoration.floating-label-decoration.field-decoration-has-focus,
.react-simple-widget.field-decoration.floating-label-decoration.field-decoration-has-value {
    > .field > label {
        top: -0.65rem;
        background-color: var(--rsw-field-decoration-label-bg-color);
    }
}
