// Provides styles to reset the outline, border
// and box-shadows for the child of a field
// decoration widget in its normal and hover
// states
@mixin resetWidgetChild {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
    margin: 0;
}