@import "../../common";

table.react-simple-widget.table-view {
  box-shadow: 2px 2px 6px #e3e3e3;
  border-radius: 4px;
  margin-bottom: 0;

  > thead {
    display: none;

    &.persistent {
      display: table-header-group;
    }

    @media screen and (min-width: 576px) {
      display: table-header-group;
    }

    th {
      font-size: 85%;
      vertical-align: middle;
      padding-bottom: 1.2rem;
      padding-top: 1.2rem;
      font-weight: 500;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      &.sortable {
        display: table-cell;
      }

      &.sortable:hover {
        cursor: pointer;
      }

      img {
        width: 10px;
        margin-left: 4px;
      }
    }
  }

  > tbody {
    border-top: 1px solid #e3e3e3;

    td.table-view-td-sm {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #efefef;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      @media screen and (min-width: 576px) {
        display: none;
      }

      .table-view-row-content-item {
        display: flex;

        > span:first-child {
          flex: 3 1;
          font-size: 85%;
          font-style: italic;
        }

        > span:last-child {
          flex: 7 1;
        }
      }

      .table-view-row-content-item.options-content-item {
        > span:last-child {
          text-align: right;
        }
      }
    }

    td.table-view-td {
      display: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #efefef;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      @media screen and (min-width: 576px) {
        display: table-cell;
      }
    }
  }
}
