.react-simple-widget.select-field {
    .field-decoration .field-decoration-content {
        border: none;
        overflow: visible;

        .widget > * {
            padding: 0;
        }
    }
}
