.react-simple-widget.select-field .field-decoration .field-decoration-content {
    .react-simple-widget.select-option {
        .indicator {
            position: relative;
            display: inline-block;
            width: var(--rsw-select-field-indicator-size);
            height: var(--rsw-select-field-indicator-size);
            border: 2px solid var(--rsw-primary-theme-color);
            margin: 0 8px 0 0;
            opacity: 0.99;
        }

        .indicator::before {
            position: absolute;
            display: block;
            top: calc(50% - 22.5px);
            left: calc(50% - 22.5px);
            width: 45px;
            height: 45px;
            border-radius: 30px;
            transform: scale(0);
            opacity: 0;
            background-color: #00000014;
            transition: transform var(--rsw-transition-duration), opacity var(--rsw-transition-duration);
            pointer-events: none;
            z-index: -1;
            content: "";
        }

        .indicator::after {
            position: absolute;
            display: block;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background-color: var(--rsw-primary-theme-color);
            pointer-events: none;
            z-index: 1;
        }

        label,
        .indicator {
            vertical-align: middle;
        }

        label {
            display: inline;
            margin: 0;
        }
    }

    .react-simple-widget.select-option:hover {
        cursor: pointer;

        label {
            cursor: pointer;
        }
    }

    .react-simple-widget.select-option:hover,
    .react-simple-widget.select-option:focus,
    .react-simple-widget.select-option:active {
        border: none;
        outline: none;
        box-shadow: none;

        .indicator::before {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* Selected state */
    .react-simple-widget.select-option.selected {
        .indicator::after {
            content: "";
        }
    }

    /* Inline state */
    .react-simple-widget.select-option.inline {
        display: inline-block;
        width: auto;
        margin-right: 8px;
    }

    .react-simple-widget.select-option:not(.inline) {
        display: block;
        width: 100%;
        margin-top: 6px;

        label {
            margin: 0;
        }
    }

    .react-simple-widget.select-option.inline:last-child {
        margin-right: 0;
    }

    .react-simple-widget.select-option:not(.inline):first-child {
        margin-top: 0;
    }

    /* Checkbox select */
    .react-simple-widget.select-option.check {
        .indicator {
            border-radius: 4px;
        }
    }

    /* Radio select */
    .react-simple-widget.select-option.radio {
        .indicator,
        .indicator::after {
            border-radius: calc(var(--rsw-select-field-indicator-size) / 2);
        }
    }
}
