.react-simple-widget.list-view-footer {
    padding: 15px 8px;
    border-top: 1px solid #e3e3e3;
    opacity: 0.85;

    .col-12:first-child {
        text-align: center;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    .col-12:last-child {
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: right;
        }
    }

    p {
        margin: 0;
    }

    button:focus,
    button:hover,
    button:active {
        box-shadow: none;
    }

    p,
    button {
        font-size: 85%;
        font-style: italic;
    }
}
