.react-simple-widget.list-view {
    table {
        margin-bottom: 0;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;

        thead {
            th {
                font-size: 85%;
                font-style: italic;
                font-weight: normal;
                vertical-align: middle;
            }
        }

        tbody {
            tr {
                .item-options-trigger {
                    position: relative;
                    display: block;
                    text-align: center;

                    img {
                        width: 14px;
                        vertical-align: middle;
                    }
                }

                .item-options-trigger:hover {
                    cursor: pointer;
                }

                .item-options-trigger:after {
                    content: "Options";
                    position: absolute;
                    top: 40%;
                    right: 0;
                    width: max-content;
                    font-size: 75%;
                    color: #ffffff;
                    padding: 2px 6px;
                    background-color: #444444;
                    transition: opacity var(--rsw-transition-duration);
                    pointer-events: none;
                    opacity: 0;
                }

                .item-options-trigger:hover::after {
                    opacity: 1;
                }

                .item-options-trigger.none img {
                    opacity: 0.3;
                }

                .item-options-trigger.none::after {
                    content: "No options for item";
                }

                td.loader-item {
                    text-align: center;
                    padding: 0;

                    img {
                        height: 12px;
                    }
                }

                td.empty-message-item p {
                    margin: 0;
                    font-size: 85%;
                    font-style: italic;
                    text-align: center;
                }
            }

            tr.mobile-item {
                .content {
                    display: flex;
                    align-items: flex-end;
                }

                .data {
                    display: grid;
                    padding: 12px;
                    grid-template-columns: 30% 70%;
                    grid-gap: 4px 8px;
                    flex: 1 1;

                    > .data-key {
                        font-size: 85%;
                        font-style: italic;
                    }

                    > .data-value {
                        word-break: break-word;
                    }
                }
            }
        }
    }
}
