.react-simple-widget.sorter {
    width: 100%;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        width: 250px;
        margin: 0 0 15px auto;
    }

    .sorter-content {
        display: flex;
        align-items: center;

        .field-decoration {
            flex: 1 1;
        }

        button {
            margin-left: 10px;

            img {
                width: 20px;
            }
        }

        button,
        button:hover,
        button:active,
        button:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
}
