.react-simple-widget.dialog-view {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
    overflow: auto;

    .dialog-view-content {
        width: 100%;
        margin: auto;
        padding: 15px;
    }

    .dialog-view-content.small-dialog {
        @media screen and (min-width: 576px) {
            max-width: 360px;
        }
    }

    .dialog-view-content.medium-dialog {
        @media screen and (min-width: 768px) {
            max-width: 480px;
        }
    }

    .dialog-view-content.wide-dialog {
        @media screen and (min-width: 992px) {
            max-width: 640px;
        }
    }

    .dialog-view-content.full-dialog {
        max-width: 100%;
    }
}
